body {
    background-color:rosybrown;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-right:8px;
    margin-left:6cm;
    line-height: 1.6em;/*this helps me with the spacing in between the words*/
    }
    
    #navbar{
         text-align:left ;
         padding: 4px;
         position:fixed;/*when am trying to fix the position of the content i can also use (margin: 0 auto)*/ 
         text-decoration:none;
         font-style:tahoma,sans-serif;
         font: 10px;
         min-width:80px ;
         border-right:solid;
         height:100%;
         top:0px;
         left:0px;
         width:max-content;
         margin:0px;
        }
        ul{
            padding-top:12px;
    
        }

     header{
         color:darkred;  
         text-align:left;
    
     }
     #main-doc li{
         list-style:upper roman;
     }
    #main doc header{
        text-align:left;
        margin:0px;